aes==1.0.0
amqp==5.1.1
asgiref==3.5.1
auto-labeling-pipeline==0.1.21
billiard==3.6.4.0
boto3==1.24.88
botocore==1.27.88
cachetools==5.2.0
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.2
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==0.5.0
dj-rest-auth==2.2.5
Django==4.0.4
django-celery-results==2.2.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-drf-filepond==0.4.1
django-filter==21.1
django-health-check==3.17.0
django-heroku==0.3.1
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.10
django-sms==0.5.0
django-storages==1.13.1
djangorestframework==3.14.0
djangorestframework-xml==2.0.0
doccano==1.8.0
docopt==0.6.2
drf-yasg==1.21.4
environs==9.5.0
et-xmlfile==1.1.0
filelock==3.6.0
filetype==1.1.0
furl==2.1.3
google-api-core==2.10.1
google-auth==2.12.0
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
greenlet==1.1.3
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
kombu==5.2.4
lml==0.1.0
MarkupSafe==2.1.1
marshmallow==3.18.0
Naked==0.1.31
numpy==1.23.3
oauthlib==3.2.0
openpyxl==3.0.10
orderedmultidict==1.0.1
packaging==21.3
pandas==1.5.0
Pillow==9.1.0
pipreqs==0.4.11
platformdirs==2.5.2
prompt-toolkit==3.0.31
protobuf==4.21.7
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.10.2
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.21.0
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
s3transfer==0.6.0
scikit-learn==1.1.2
scipy==1.9.1
seqeval==1.2.2
shellescape==3.8.1
shortuuid==1.0.9
six==1.16.0
social-auth-app-django==5.0.0
social-auth-core==4.2.0
SQLAlchemy==1.4.41
sqlparse==0.4.2
texttable==1.6.4
threadpoolctl==3.1.0
twilio==7.12.0
typing_extensions==4.4.0
tzdata==2022.1
uritemplate==4.1.1
urllib3==1.26.9
vine==5.0.0
virtualenv==20.14.1
waitress==2.1.2
wcwidth==0.2.5
whitenoise==6.1.0
yarg==0.1.9
